<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {pageName: "404"}); %>
<body>
<%- include("../partials/header", {active: 0}) %>

<img src="/image/404.jpg" class="bg-image">

<%- include("../partials/footer") %>
</body>
</html>