<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {pageName: 'About'}); %>
<body>
<%- include("../partials/header", {active: 'about'}) %>
<img src="./image/about.jpg" class="bg-image">
<%- include("../partials/footer") %>
</body>
</html>