<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {pageName: 'Contact'}); %>
<body>
<%- include("../partials/header", {active: 'contact'}) %>

<img src="image/contact.webp" class="bg-image">
<%- include("../partials/footer") %>
</body>
</html>